services:
  postgres:
    image: 'postgres:latest'
    container_name: 'payroll-system-db'
    environment:
      - 'POSTGRES_USER=$SPRING_DATASOURCE_USERNAME'
      - 'POSTGRES_PASSWORD=$SPRING_DATASOURCE_PASSWORD'
      - 'POSTGRES_DB=$SPRING_DATASOURCE_DB'
    ports:
      - '3003:5432'
  redis:
    image: 'redis:latest'
    ports:
      - '6379'
