spring:
  application:
    name: multi-tenant-ai-payroll-system
  profiles:
    active: dev
  web:
    resources:
      add-mappings: false
  security:
    oauth2:
      resourceserver:
        jwt:
          authorities-claim-name: authorities
          authority-prefix: ""

api:
  endpoint:
    base-url: /api/v1

server:
  port: 80

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,beans,configprops,heapdump,httpexchanges,loggers,mappings,custom-beans,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    env:
      show-values: always
    configprops:
      show-values: always
    heapdump:
      access: unrestricted
  info:
    build:
      enabled: true
    env:
      enabled: true
    git:
      enabled: true
      mode: full
    java:
      enabled: true
    os:
      enabled: true
  observations:
    annotations:
      enabled: true
  tracing:
    sampling:
      probability: 0.1

info:
  app:
    name: Multi Tenant AI Payroll System
    description: This is a multi tenant payroll system that uses AI to automate payroll processing.
    version: @project.version@
    author: Harvey Dela Flor
    links:
      github: